@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Üdv</h1>
    <p>Legjobb helyen jársz!</p>
    <div>
        <img src="https://i.gifer.com/LftH.gif" alt="Alternate Text" style="border-radius:20px;width:75%;height:auto;"/>
    </div>
</div>
